body{
  background-color:black;
  font-family: myFont, monospace;
}

a{
  color:white;
  text-decoration:none;
}

@font-face {
  font-family:myFont;
  src: url("PublicPixel-rv0pA.ttf");
}
.cell{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.wall{
  background-color: blue;
}

.path{
  background-color: black;
}


#game-box{
  display: grid;
  place-content: center center;
  grid-template-columns: repeat(1,24px);
  grid-template-rows: repeat(1,24px);
}

h1{
  color: white;
  font-size: 50pt;	
  text-align: center;
}

#score{
  color: white;
  margin-right: 400px;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}


