@font-face {
  font-family:myFont;
  src: url("PublicPixel-rv0pA.ttf");
}
.cell{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.wall{
  background-color: blue;
}

.path{
  background-color: black;
}

body{
  background-color:black;
  font-family: myFont, monospace;
}

#game-box{
  display: grid;
  place-content: center center;
  grid-template-columns: repeat(28,24px);
  grid-template-rows: repeat(31,24px;)
}

#title{
  color: white;
  font-size: 50px;	
  text-align: center;
}

#score{
  color: white;
  margin-left: 600px;
  margin-top: 50px;
  font-size: 30px;
  text-align: left;
}


