.cell{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall{
  background-color: blue;
}

.path{
  background-color: black;
}

body{
  background-color:black;
}

#game-box{
  display: grid;
  margin-top: 50px;
  place-content: center center;
  grid-template-columns: repeat(30 ,24px);
  grid-template-rows: repeat(31 ,24px;)
}

h1{
  color: white;
  font-size: 50px;	
  text-align: center;
}


